name: deploy to production
on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    environment: production

    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: provider/assume-role/go.mod

      - name: download dependencies
        run: go mod download
        working-directory: provider/assume-role

      - name: build
        run: |
          make build
        working-directory: provider

      - uses: fuller-inc/actions-aws-assume-role@ab8b68ccaa6a83d843cd6f9403fc3c0eb2e3af0c # v1.7.1
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::053160724612:role/aws-assume-role-github-actions-us-east-1
          role-session-tagging: true
          use-node-id: true

      - name: deploy
        run: |
          make deploy
        working-directory: provider
