name: test
on:
  push:
  pull_request:

jobs:
  provider:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: provider/assume-role/go.mod

      - name: download dependencies
        run: go mod download
        working-directory: provider/assume-role

      - name: Test
        run: |
          make test
        working-directory: provider/assume-role

      - name: report coverage
        uses: k1LoW/octocov-action@73d561f65d59e66899ed5c87e4621a913b5d5c20 # v1.5.0

  action:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: provider/assume-role/go.mod

      - name: download dependencies
        run: go mod download
        working-directory: provider/assume-role

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: action/package.json
          cache: "npm"
          cache-dependency-path: action/package-lock.json

      - name: Install dependencies
        run: |
          npm ci
        working-directory: action

      - name: Test
        run: |
          npm run test
        working-directory: action
